@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
div[data-part="description"] ul {
list-style-position: inside!important;
    padding: 10px 0!important;
    padding-bottom: 10px!important;
  }

  div[data-part="jobtitle"],
  div[data-part="title"],
  div[data-part="vacancydescription"],
  div[data-part="vacancyname"],
  div[data-part="vacancydescription"],
  div[data-part="company"]  {
    display: none!important;
    visibility: hidden;
  }
  div[data-part="description"] {
    order:12;
  }
  div[data-part="source"] {
order:1;
align-items: center;
  }
  div[data-part="link"] {
  vertical-align: middle;
    order:2;
    align-items: center;
      }
      div[data-part="joburl"] {
 
        order:3;
          }
          div[data-part="salaryrange"] {
 
            order:4;
              }
              div[data-part="experience"] {
 
                order:5;
                  }
                  div[data-part="reference"] {
 
                    order:6;
                      }
                      div[data-part="location"] {
 
                        order:7;
                          }
                          div[data-part="department"] {
 
                            order:8;
                              }  
                              div[data-part="closingdate"] {
 
                                order:9;
                                  } 
                  div[data-part="city"] {
 
                    order:10;
                      }
                      div[data-part="country"] {
 
                        order:11;
                          }
  .vacanypopup p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    padding:0!important;
}
